<%= render partial: 'common/header' %>

<section class="breadcumb_area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="breadcumb_section">
          <div class="page_title">
            <h3>Contact Us</h3>
          </div>
          <div class="page_pagination">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
              <li>Contact Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcumb -->

<!-- Contact Us -->
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="widget margin-bottom-none">
          <div class="widget-header">
            <h1>お問い合わせについて</h1>
          </div>
          <p>いつもBRUTをご利用頂き誠にありがとうございます。<br>お問い合わせの返事に関しては担当の者から1日〜7日程でお返事させて頂きます。
          少々お待ちください。</p>
          <hr>
          <h4 class="heading-primary">株式会社<strong>BRUT</strong></h4>
          <ul class="list list-icons list-icons-style-3 mt-xlg">
            <li><i class="fa fa-fw fa-map-marker"></i> <strong>Address:</strong> 〒106-0032 東京都港区六本木１丁目９−１０</li>
            <li><i class="fa fa-fw fa-phone"></i> <strong>Phone:</strong> (123) 456-789</li>
            <li><i class="fa fa-fw fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@brut.com</a></li>
          </ul>
          <hr>
          <h4 class="heading-primary">営業時間</h4>
          <ul class="list list-icons list-dark mt-xlg">
            <li><i class="fa fa-fw fa-clock-o"></i>平日 - 10時 〜 19時</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'common/mobile_app' %>
<%= render partial: 'common/footer' %>
