<section class="search-box">
   <div class="container">
      <div class="row">
         <div class="main-search-box text-center">
            <h1 class="intro-title">トップパーソナルトレーナーを好きな場所に呼ぼう!!</h1>
            <p class="sub-title">Brutとは好きな時間好きな場所でパーソナルトレーニング
            ができるサービスです。</p>
            <% # FIXME: 正式に開発が決まった検索機能をつける %>
            <form action="/categories" method="GET">
               <div class="col-xs-6 col-md-4 col-sm-4 search-input">
                  <select class="form-control input-lg search-form">
                     <option selected="selected" value="">カテゴリー</option>
                     <option value="Vehicles" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> ボディメイク</option>
                     <option value="Cars">姿勢矯正</option>
                     <option value="Motorcycles">骨盤矯正</option>
                     <option value="Boats">ヨガ</option>
                     <option value="Vehicles">O脚矯正</option>
                     <option value="Appliances"> ダイエット</option>
                     <option value="Appliances">その他:今後追加予定</option>
                  </select>
               </div>
               <div class="col-xs-6 col-md-4 col-sm-4 search-input">

               <input class="form-control input-lg search-form" type="text" name="station" placeholder="駅名" maxlength="80">

               </div>
               <div class="col-md-2 col-sm-2 search-input">
                  <button class="btn btn-primary btn-lg simple-btn btn-block" data-toggle="tooltip" data-placement="top" title="詳細画面へ">
                  <i class="fa fa-search"></i> Search
                  </button>
               </div>
            </form>
         </div>
         <div class="top-categories margin-bottom-none">
            <h4>良く見られているカテゴリー</h4>
            <a href="categories.html">
            <i class="fa fa-book"></i>ヨガ
            </a>
            <a href="categories.html">
            <i class="fa fa-briefcase"></i>ボディメイク
            </a>
            <a href="categories.html">
            <i class="fa fa-mobile"></i>ウォーキング
            </a>
            <a href="categories.html">
            <i class="fa fa-laptop"></i>体幹強化
            </a>
            <a href="categories.html">
            <i class="fa fa-building-o"></i>姿勢矯正
            </a>
         </div>
      </div>
   </div>
</section>

